h2 Hi #{user.name}
p.beta-warning
	| The whole platform is in a development stage which means,
	| everything is subject to change!
	br
	| Just keep that in mind..
	| And now have some fun building a level!
p
	a(href='/level/list') Show all Levels
p
	a#create-level(href='/level/create') Create new Level

h2 Your levels:
ul#level-list!=partial('levellist')