script( data-main='/js/gameframe', src='/js/require.js')
#canvas-wrap
	canvas#canvas
		p unfortunately your browser lacks canvas support! get 
		a(href='http://www.mozilla.com/firefox/') Firefox
		, 
		a(href='http://www.google.com/chrome') Chrome
		,
		a(href='http://apple.com/safari/') Safari 
		or 
		a(href='http://opera.com') Opera 
		to run this game.

