form(action='/forgot-password', method='POST')
	p
		label(for='email') Email:
	p
		input#email(type='text', name='user[email]')
	p
		input#login(type='submit', value='submit')
	p
		a(href='/register') Register
		,
		a(href='/login') Login 
			