form(action='/login', method='POST')
	input(type='hidden', name='redir', value=redir)
	p
		label(for='email') Email:
	p
		input#email(type='text', name='user[email]')
	p
		label(for='password') Password:
	p
		input#password(type='password', name='user[password]')
	p
		input#login(type='submit', value='Login')
	p
		a(href='/register') Register 
		,
		a(href='/forgot-password') Forgot your password?