p Name: #{user.name}
p Email: #{user.email}


h3 change name
form#change-name.check-form(action='/user', method='POST')
	input(type='hidden', name='_method', value='PUT')
	p
		input#password(type='text', name'user[name]', value = user.name)
	p
		input(type='submit', value='ok')

h3 change password
form#change-password.check-form(action='/user', method='POST')
	input(type='hidden', name='_method', value='PUT')
	p
		label(for='password') password:
	p
		input#password(type='password', name'user[password]')
	p
		label(for='repeatpassword') repeat password:
	p
		input#repeatpassword(type='password', name'user[repassword]')
	p
		input(type='submit', value='ok')