form(action='/register', method='POST')!=partial('user-form')
p
p
	a(href='/register') Register
	,
	a(href='/login') Login 
p
	| Naturally we take good care of your data and won't sell it or abuse it in any other way. 
	| Have a nice Day!