form(action='/register', method='POST')
	p
		label(for='name') Name:
	p
		input#name(type='text', name='user[name]')
	p
		label(for='email') Email:
	p
		input#email(type='text', name='user[email]')
	p
		label(for='password') Password:
	p
		input#password(type='password', name='user[password]')
	p
		label(for='repassword') Repeat Password:
	p
		input#repassword(type='password', name='user[repassword]')
	p
		input#login(type='submit', value='Submit')

p
	a(href='/register') Register
	,
	a(href='/login') Login 
p
	| Naturally we take good care of your data and won't sell it or abuse it in any other way. 
	| Have a nice Day!