form(action='/reset-password', method='POST')
		p
			label(for='password') Password:
		p
			input#password(type='password', name='user[password]')
			input(type='hidden', name='user[hash]', value= hash)
		p
			input#login(type='submit', value='Reset')