p
	label(for='name') Name:
p
	input#name(type='text', name='user[name]')
p
	label(for='email') Email:
p
	input#email(type='text', name='user[email]')
p
	label(for='password') Password:
p
	input#password(type='password', name='user[password]')
p
	input#login(type='submit', value='Submit')