     	<div id="chat" style="display:none;">
    		<div id="chat-text">
    		
    		</div>
   		    <form action="chat" id="chat-form">
			    <input id="chat-input"/>
			    <input type="submit" value="send"/>
		    </form>
    	</div>
