script( data-main='/js/editor', src='/js/require.js')
ul#menu!=partial('menu') 
#status
	#loading sync...
	#saved(style='display:none;') saved   
ul#sidebar!= partial('sidebar')
#help(style='display:none;')!=partial('help');
#chat(style='display:none;')!=partial('chat');

canvas#canvas
	p unfortunately your browser lacks canvas support! get 
	a(href='http://www.mozilla.com/firefox/') Firefox
	, 
	a(href='http://www.google.com/chrome') Chrome
	,
	a(href='http://apple.com/safari/') Safari 
	or 
	a(href='http://opera.com') Opera 
	to run this game.

